
.youtubeCard {
    width: 300px;
    transition: all 0.5s;
    padding: 1vmax;
    margin: 2vmax;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.youtubeCard a {
    text-decoration: none;
    color: black;
    width: inherit;
}

.youtubeCard img {
    width: 100%; 
    border-radius: 10px; 
}

.youtubeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}

@media screen and (max-width:600px) {
    .youtubeCard {
        width: 200px;
        transition: all 0.5s;
        padding: 1vmax;
        margin: 2vmax;
        
    }
}